#nav{
    color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.container{
    margin-top: 100px;
    width: 75%;
    border: 1px solid black;
    border-radius: 5px;
}
.card{
    margin-top: 5%;
    margin-bottom:5%;
}
.responsive {
    max-width: 100%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.card-title{
  margin: auto;
  text-align: center;
}

.alinea{
  text-indent:3%;
}
